.sidebar--container {
  position: absolute;
  width: 292px;
  height: 378px;
  left: 285px;
  top: 125px;
  padding: 20px;
  justify-content: center;
  background: #ffffff;
  border: 1px solid #dfe0eb;
  border-radius: 10px;
}

.sidebar--container h3 {
    width: 200px;
    margin: 10px 60px;
}

.sidebar--container .sample--elements {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    margin-top: 20px;
}

.sidebar--container .sample--elements .single--element {
    display: flex;
    flex-direction: row;
    margin: 10px 0px;
    height: 80px;
}

.sidebar--container .sample--elements .single--element .number {
    background: #C5C7CD;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    padding-top: 12px;
    margin-top: 10px;
 }

 .sidebar--container .sample--elements .single--element .details {
    width: 100%;
 }

.sidebar--container .sample--elements .single--element .details h5 {
    font-size: 16px;
    margin-bottom: 5px;
}

.sidebar--container .sample--elements .single--element .details p {
    color: #9FA2B4;
    font-size: 14px;
}
